<h1 class="display-5">Sails Uygulamasına Hoşgeldiniz</h1>
<p class="mb-5">Bu web uygulaması Sails Frameworku ile hazırlanmıştır.</p>
<a href="/articles/list" class="btn btn-danger">Gönderileri Listele</a>
<a href="/articles/add" class="btn btn-danger">Gönderi Ekle</a>